<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div><label> Nazwa użytkownika: <input type="text" name="username"/> </label></div>
    <div><label> Hasło: <input type="password" name="password" placeholder="Hasło"/> </label></div>
    <div><input type="submit" value="Zaloguj się"/></div>
</form>
<div>
        <a th:href="@{/register}">Nie masz konta? Dołącz do nas!</a>
</div>
</body>
</html>